# Easier navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# mv, rm, cp
alias mv='mv -v'
alias cp='cp -v'
alias rm='rm -i -v'

# use coreutils `ls` if possible…
#hash gls >/dev/null 2>&1 || alias gls="ls"

# always use color, even when piping (to awk,grep,etc)
#if gls --color > /dev/null 2>&1; then colorflag="--color"; else colorflag="-G"; fi;
#export CLICOLOR_FORCE=1
#
#alias ls='gls -AFh ${colorflag} --group-directories-first'
#alias lsd='ls -l | grep "^d"' # only directories

###########
# GIT STUFF#
############

function clone() {
    git clone --depth=1 $1
    cd $(basename ${1%.*})
    bower install &
    npm install
}

alias status='git status'
alias push='git push'
alias pull='git pull'
# Push Master
alias pushm='git push origin master'
# Pull rebase
alias pullr='git pull --rebase'
# Master checkout
alias master='git checkout master'

# Undo a 'git push'
alias undopush='git push -f origin HEAD^:master'

# Empty the Trash on all mounted values and the main HDD. Then clear the useless sleepimage
alias emptytrash=' \
    sudo rm -rfv /Volumes/*/.Trashes; \
    rm -rfv ~/.Trash/* \
    sudo rm -v /private/var/vm/sleepimage; \
    rm -rv \"/Users/dkelly/Library/Application Support/stremio/Cache\" \
'

# Update installed Ruby gems, Homebrew, npm and their installed packages
alias brew_update='brew -v update; brew upgrade --force-bottle --cleanup; brew cask cleanup; brew prune; brew doctor; npm-check -g -u'

# Speedtest
alias speedtest="curl -o /dev/null http://speedtest.wdc01.softlayer.com/downloads/test10.zip"

# Personal
# Locations
alias drive="cd ~/'Google Drive'"
alias dot='cd /Users/dkelly/dotFiles/personal/'
alias rc='source ~/.bash_profile'
alias vimvrc='vim ~/.vimrc'
alias vimrc='vim ~/.bash_profile'
alias vimal='vim ~/.aliases'
alias ll='ls -ltrA'
alias wq='clear'
alias svim='sudo vim'
